<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <link rel="stylesheet" href="css/bootstrap.min.css"/>-->
<!--    <link rel="stylesheet" href="css/Publish.css"/>-->
<!--    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>-->
<!--    <script src="js/bootstrap.min.js" type="application/javascript"/>-->
<!--    <script src="${ctx}/webjars/jquery/3.3.1-2/jquery.min.js"></script>-->
</head>
<body style="background-color: #2aabd2">
<form th:action="@{/aslogin}" >
<input type="text" name="username">
<input type="text" name="password">
<input type="submit">
</form>

</body>
</html>
